<div class="row">
    <div class="col-md-6">
      <div class="panel panel-default panel-secondary">
        <div class="panel-heading">Ajouter Cinema</div>
        <div class="panel-body">
          <form >
            <div class="form-group">
              <label for="name">Nom de cinema</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Addresse</label>
              <input type="text" ngModel name="address" id="address" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Nombre de salles</label>
              <input type="text" ngModel name="countRooms" id="countRooms" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Ville</label>
              <!-- <option value="" disabled>Choose a city</option> -->
              <select name="city" ngModel class="form-control">
                <option >
                  
                </option>
              </select>
            </div>
  
            <button class="btn btn-warning" type="submit">Enregistrer</button>
          </form>
        </div>
        </div>
    </div>
  
  </div>