<div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li 
              class="list-group-item"
             
              style="cursor: pointer;">
         
        </li>
      </ul>
    </div>
  
    <div class="col-md-9">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">List des cinemas</div>
        <div class="panel-body">
          <ul  class="nav nav-pills">
            <li
                 style="cursor: pointer;"
                 >
  
              <a></a>
            </li>
          </ul>
          <hr>
          <div class="row" >
            <div >
              <div class="col-md-6">
              <div class="panel panel-default panel-primary" style="min-height: 370px;">
                <div class="panel-heading"></div>
                <div class="panel-body" >
                  <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/photos/image.png"
                              alt="image of "
                              style="width: 150px; height: 200px;"
                              >
                    </div>
                    <div class="col-md-6">
                      <ul class="list-group">
                        <li 
                            
                             class="list-group-item"
                             
                             style="cursor: pointer;">
                          <span class="alert-danger"> price </span>
                          <span class="alert-info">dt</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div >
                    <div >
                    <div >
  
                    <div class="row" >
                      <!-- <button *ngFor="let ticket of currentProjection.tickets._embedded.tickets"> -->
                      <button
                          
                          class="btn btn-light"
                          style="margin: 2px;"
                          
                          >
                       
                      </button>
                    </div>
  
                    <div>
                      <form >
                        <div class="form-group">
                          <label class="control-label">Nom du client</label>
                          <input type="text" ngModel name="nameClient" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Code de paiement</label>
                          <input type="text" ngModel name="paymentCode" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-default">Acheter</button>
                      </form>
                    </div>
  
                  </div>
                  </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  