<div class="row">
    <div class="col-md-6">
      <div class="panel panel-default panel-default">
        <div class="panel-heading">Ajouter une viller</div>
        <div class="panel-body">
          <form >
            <div class="form-group">
              <label >Nom de ville</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">save</button>
          </form>
        </div>
        </div>
    </div>
  </div>