<div class="container-fluid bg-grey py-5">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center py-3">
        <div class="col-lg-6">
            <div class="bg-white b-radius p-5">
                <div class="alert alert-danger p-2 mb-1" role="alert" >
                   
                </div>
                <div class="alert alert-success p-2 mb-1" role="alert" >
                   
                </div>
                <h1 class="mb-4">Se connecter</h1>

                <form>
                    <div class="row g-3">
                        <div class="col-12">

                            <input type="text" required class="form-control bg-light border-0" placeholder="Login"
                                style="height: 55px;" >
                            <!-- validation du username -- si l'utilisateur a touché le champs ou si le champs est invalide faire -->
                            <div 
                                class="text-danger mt-1">
                                <div >
                                    veuillez saisir votre identifiant
                                </div>

                            </div>
                            <!-- fin validation -->
                        </div>
                        <div class="col-12">
                            <input type="password" required class="form-control bg-light border-0"
                                placeholder="Mot de passe" style="height: 55px;" >
                            <!-- validation du username -->
                            <div 
                                class="text-danger mt-1">

                                <div >
                                    veuillez remplir votre mot de passe
                                </div>

                            </div>
                        <!-- fin validation -->    
                        </div>
                        <div class="col-12">
                            <!-- Si les données sont invalide on ne peut pas cliquer sur le bouton -->
                            <button class="btn btn-primary w-100 py-3 me-3 d-flex flex-row justify-content-center"><span
                                    class="me-2">Login</span>
                                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                            </button>
                            <br>
                            <a [routerLink]="['/register']">Vous n'avez pas de compte ? inscrivez-vous maintenant</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>