<div class="container-fluid bg-grey py-3">
    <br>
    <br>
    <br>
    <div class="row justify-content-center py-4">
        <div class="col-lg-7">
            <div class="bg-white b-radius p-5">
                <div class="alert alert-danger p-2 mb-1" role="alert" >
                    
                </div>
                <div class="alert alert-success p-2 mb-1" role="alert" >
                   
                </div>
                <h1 class="mb-4">S'inscrire</h1>
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <input type="text" class="form-control bg-light border-0" placeholder="Nom"
                                style="height: 55px;">

                            <!-- validation du prénom -->
                            <div class="text-danger mt-1">

                                <div >
                                    prénom ne faut pas être null
                                </div>
                                <div >
                                    prénom doit être 4 caractères au minimum.
                                </div>
                            </div>
                            <!-- fin validation -->
                        </div>

                        <div class="col-12">
                            <input type="email" class="form-control bg-light border-0" placeholder="Prénom"
                                style="height: 55px;">

                            <!-- validation du nom -->
                            <div class="text-danger mt-1">

                                <div >
                                    prénom ne faut pas être null
                                </div>
                                <div >
                                    prénom doit être 4 caractères au minimum.
                                </div>
                            </div>
                            <!-- fin validation -->
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control bg-light border-0" placeholder="Identifiant"
                                style="height: 55px;">
                            <!-- validation du username -->
                            <div  class="text-danger mt-1">
                                <div >
                                    nom d'utilisateur ne faut pas être null
                                </div>
                                <div >
                                    nom d'utilisateur doit être 4 caractères au minimum.
                                </div>
                            </div>
                            <!-- fin validation -->
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control bg-light border-0" placeholder="Mot de passe"
                                style="height: 55px;">
                            <!-- validation du password -->
                            <div>
                                <div>
                                    le mot de passe ne faut pas être null
                                </div>
                                <div>
                                    le mot de passe doit être 4 caractères au minimum.
                                </div>
                            </div>
                            <!-- fin validation -->

                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3 me-3 d-flex flex-row justify-content-center"><span class="me-2">Register</span>
                                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                            </button>

                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
